<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzWYHCAKyXOj1yZg5n1BMD1ynHcr8Cigc</string>
	<key>GCM_SENDER_ID</key>
	<string>988571113049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.emami.CmmLanguageApp.iosApp</string>
	<key>PROJECT_ID</key>
	<string>languagelearn-434e2</string>
	<key>STORAGE_BUCKET</key>
	<string>languagelearn-434e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988571113049:ios:a8e8f16be7a51ad6cfc348</string>
</dict>
</plist>